server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      cors-configurations:
        "[/**]":
          allowedOrigins: "http://localhost:3000"
          allowedMethods:
            - GET
            - POST
            - PUT
            - DELETE
            - OPTIONS
          allowedHeaders: "*"
          allowCredentials: true
      routes:
        - id: auth-service
          uri: http://auth-service:8086
          predicates:
            - Path=/auth/**
        - id: order-service
          uri: http://order-service:8081
          predicates:
            - Path=/api/orders/**
        - id: inventory-service
          uri: http://inventory-service:8082
          predicates:
            - Path=/api/inventory/**
        - id: payment-service
          uri: http://payment-service:8083
          predicates:
            - Path=/api/payments/**
        - id: analytics-service
          uri: http://analytics-service:8085
          predicates:
            - Path=/api/analytics/**

logging:
  level:
    org.springframework.cloud.gateway: TRACE
    org.springframework.http.server.reactive: DEBUG
    org.springframework.web.reactive: DEBUG
    reactor.netty: DEBUG
